{% extends 'base.html.twig' %}

{% block title %}Hello Login!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .error {color:red;}
</style>

<div class="example-wrapper">
    <h1>Login! ✅</h1>
    {% if error %}
        <span class="error">{{ error.messageKey }}</span>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        <label>login: <input type="text" name="_username" value="{{ last_username }}" placeholder="Username here...."></label>
        <label>pass: <input type="password" name="_password"></label>
        <button type="submit">Login</button>
    </form>
    <a href="{{ path('logout') }}">logout</a>
</div>
{% endblock %}
